.Rproj.user
.Rhistory
.RData
.Ruserdata
_targets
inputdata/
*.html
*.Rds
WorkplacesZones2011ScotlandCentroids.*
OutputArea2011_PWC.*
*.zip
overline.*
*.pbf
*.mbtiles
*.pmtiles
outputs/rnet/metadata.json
outputs/routes/metadata.json
outputdata/
outputs/zones/metadata.json
.R*
tmp/
Renviron
outputs/data_zones/metadata.json
outputs/holyrood/metadata.json
outputs/wards/metadata.json
outputs/la/metadata.json
outputs/westminster/metadata.json
outputs/zones/metadata.json
code/download_LIDAR.R
*.gz
npt_teams_general/
General/
outputs/data_zones.geojson
outputs/dasymetric_med.geojson
outputs/dasymetric_high.geojson
outputs/dasymetric_low.geojson
outputs/dasymetric_verylow.geojson
outputs/school_locations.geojson
data-raw/SG_IntermediateZone_Bdry_2011.*
data-raw/Scottish_Parliamentary_Constituencies_December_2022_Boundaries_SC_BGC_-9179620948196964406.gpkg
OS_Scotland_Network.geojson
*cache*
*.ods
*.docx
npt_net_qgis
scottraffic/
*.geojson

/.quarto/
